
    <div>
        <div class="left"><h2>Cart Items</h2></div> 
        <div class="leftcler">
            <h3>
            <button (click)="clearAll()" class="btn btn-secondary" >Clear cart</button>
        </h3>
        </div>
            </div>

            <div class="outer">

                <table>
                    <tr>
                        <th>
                            Image
                        </th>
                        <th>Title</th>
                        <th>MRP</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>
                            Remove
                        </th>
                    </tr>
                </table>
    
<table class = "gfg">

<tr *ngFor="let i of cartData" class="trBox">
    <td>
        <img src="https://bookcart.azurewebsites.net/Upload/{{i.book.coverFileName}}" alt="img" width="20%" height="auto"/>
        
    </td>
<td>
    <a routerLink="/bookdetail">{{i.book.title}}</a>
   </td>
<td>{{i.book.price}}</td>
<td style="text-align: center; vertical-align: middle;">
    <button class="minus" [disabled]="disableminus(i.quantity)" [style.opacity]="disableminus(i.quantity) ? '0.2' : '1'" (click)="submitDec(i.book.bookId)" >
        <img src="../assets/minus.png" width="24"  />
    </button>
    
   {{i.quantity}}
   <img (click)="submitIncre(i.book.bookId)"  src="../assets/max.png" width="24" /> 
</td>
<td>
    {{i.book.price*i.quantity}}
</td>
<td style="text-align: center; vertical-align: middle;">
 <img (click)="removal(i.book.bookId)" height="30" src="../assets/trash.png" />
</td>
</tr>  
<tr class="bottombox" *ngIf="cartData.length!=0">
    <td></td>
    <td></td>
    <td></td>
    <td>
        <b>
            Grand Total
        </b>
        </td>
    <td>
        {{total()}}
    </td>
    <td> <button class="btn btn-primary" [routerLink]="['/checkout']">CheckOut</button></td>
</tr>
<tr class="bottombox" *ngIf="cartData.length==0">
    <td> <button class="btn btn-primary" [routerLink]="['/homepage']">Continue Shoping</button></td>
</tr>
</table>
</div>



    
    